@media(min-width: 991px) and (max-width: 1260px) {
    body {
        overflow-x: hidden;
    }

    header li {
        width: 20vw;
    }

    #call-to-action button {
        width: 22vw;
    }

}

@media(min-width: 600px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    header {
        width: 95vw;
        grid-column-gap: 1rem;
    }

    .logo {
        width: 15vw;
    }

    header li {
        width: 35vw;
        justify-content: flex-end;
        font-size: .9rem;
        font-weight: 700;
    }

    header li a {
        margin-right: 1rem;
    }

    header li a:nth-child(3) {
        margin: 0;
    }

    #banner {
        width: 95vw;
        background: url(images/bg-curvy-mobile.svg) no-repeat;
        background-position: bottom;
    }

    #banner img {
        display: block;
        width: 55vw;
        margin: 0 auto;
    }

    #banner h1 {
        font-size: 1.8rem;
    }

    button {
        width: 80vw;
    }

    /*    advantage*/
    #wrapper-advantage {
        width: 95vw;
        grid-template-columns: auto;
        margin: 0 auto;
    }

    /*    banner bottom*/
    #wrapper-banner {
        grid-template-columns: auto;
    }

    #wrapper-banner img {
        width: 55vw;
        margin: 0 auto;
    }

    .sub-text-banner h1,
    .sub-text-banner p {
        margin-bottom: 1rem;
    }

    #wrapper-banner h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    /*testimony*/
    #testimony {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
    }

    #testimony img {
        width: 6vw;

    }

    .testimony-card .user {
        grid-column-gap: 2.5rem;
    }

    /*footer*/
    #wrapper-footer {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 30vh) 80vh;
    }

    /*call to action*/
    #wrapper-call-to-action {
        width: 85vw;
        margin: 0 auto;
        grid-column: 1/2;
    }

    #call-to-action {
        width: 80vw;
    }

    #call-to-action form {
        height: 17vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #call-to-action #tape,
    #call-to-action button {
        width: 70vw;
        margin: 0 auto;
    }

    /*footer menu*/
    #footer-menu {
        grid-column: 1/2;
        padding: 20rem 0 0 0;
    }

    #nav-footer {
        display: flex;
        flex-direction: column;
        margin: auto 2rem;
        justify-content: space-around;

    }

    #nav-footer ul {
        padding: 0;
    }

    #nav-footer .logo {
        display: block;
        width: 30vw;
        margin: 0 auto;
    }

    #col-1 #location img {
        width: 2vw;
    }

    #col-1 #col-2,
    #col-3,
    #col-4,
    #col-5,
    #col-6 {
        width: 95vw;
    }

    #col-5 {
        justify-content: center;
        margin-top: 3rem;
    }

    /*    tag footer*/
    .attribution {
        font-size: .8rem;
        font-weight: 400;
    }

    footer a {
        font-size: 1rem;
    }
}

@media(min-width: 320px) and (max-width: 600px) {

    #wrapper-header{
        overflow: hidden;
    }

    header {
        width: 95vw;
        grid-column-gap: 1rem;
        overflow: hidden;
    }

    .logo {
        width: 25vw;
    }

    header li {
        width: 50vw;
        justify-content: flex-end;
        font-size: .8rem;
        font-weight: 700;
    }

    header li a {
        margin-right: 1rem;
    }

    header li a:nth-child(3) {
        margin: 0;
    }

    #banner {
        width: 95vw;
        background: url(images/bg-curvy-mobile.svg) no-repeat;
        background-position: bottom;
        overflow: hidden;
    }

    #banner img {
        width: 95vw;
    }

    #banner h1 {
        font-size: 1.8rem;
    }

    button {
        width: 95vw;
    }

    /*    advantage*/
    #wrapper-advantage {
        width: 95vw;
        grid-template-columns: auto;
        margin: 0 auto;
    }

    /*    banner bottom*/
    #wrapper-banner {
        grid-template-columns: auto;
        overflow: hidden;
    }

    #wrapper-banner img {
        width: 95vw;
        margin: 0 auto;
    }

    .sub-text-banner h1,
    .sub-text-banner p {
        margin-bottom: 1rem;
    }

    #wrapper-banner h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    /*testimony*/
    #testimony {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
        overflow: hidden;
    }

    #testimony img {
        width: 10vw;

    }

    .testimony-card .user {
        grid-column-gap: 2.5rem;
    }

    /*footer*/
    #wrapper-footer {
        width: 100vw;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(2, 30vh) 100vh;
        overflow: hidden;
    }

    /*call to action*/
    #wrapper-call-to-action {
        width: 85vw;
        margin: 0 auto;
        grid-column: 1/2;
    }

    #call-to-action {
        width: 80vw;
    }

    #call-to-action form {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #call-to-action #tape,
    #call-to-action button {
        width: 70vw;
        margin: 0 auto;
    }

    /*footer menu*/
    #footer-menu {
        grid-column: 1/2;
        padding: 20rem 0 0 0;
        position: relative;
    }

    #nav-footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
        padding: 2rem;

    }

    #nav-footer .logo {
        display: block;
        width: 55vw;
        margin: 0 auto;
    }

    #col-1 #location {
        width: 85vw;
    }

    #col-1 #location img {
        width: 10vw;
    }


    #col-1 #col-2,
    #col-3,
    #col-4,
    #col-5,
    #col-6 {
        width: 95vw;
    }

    #col-5 {
        justify-content: center;
        margin-top: 3rem;
    }

    /*    tag footer*/
    .attribution {
        font-size: .6rem;
        font-weight: 400;
        padding: 1rem;
    }

    footer {
        bottom: 0;

    }

    footer a {
        font-size: .8rem;
    }
}
